#contenedorContactanos {
  flex-direction: column;
  margin-top: 30px;
}

.container {
  display: flex;
}

.container-vertical {
  flex-direction: column;
}

.container-info {
  justify-content: between;
}

.form-control{
  border: solid rgb(0, 0, 0) 2px;
}

@media (max-device-width: 991px) {
  .container-info {
    flex-direction: column;
  }

  .container-info #form-contacto {
    width: 100%;
  }
}

.container-info .itemTarjeta {
  width: auto;
}