#containerPages {
    width: 100vw;
    height: 72%;
    min-height: 72vh;
}

.carousel {
    position: relative;
    width: 100%;
    height: 50vh;
    align-items: center;
    background-image: url(../Imagenes/fondoOpcional.png);
    background-size: 130vw 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-container img{
    width: 30%;
    height: 40%;
    margin-left: 60px;
}

.carousel-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-controls {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.carousel-controls button {
    padding: 5px 10px;
    font-size: 18px;
}

.prev-button,
.next-button{
    background-color: transparent;
    border: none;
}

button>i{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(49, 49, 49);
    /* border: 2px solid black;
    background-color: beige; */
}

.navbar-brand img {
    width: 100px;
}

.contenedorCarros {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.itemTarjeta img {
    width: 200px;
    transition: transform .6s;
}

.itemTarjeta img:hover {
    transform: scale(1.2);
    filter: drop-shadow(6px 6px 8px rgb(0, 0, 0));
}

.itemTarjeta {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px 0px 60px;
}

.itemTarjeta button {
    margin: 10px 0px;
    padding: 5px 10px;
    background: linear-gradient(gray, rgb(0, 0, 0));
    color: white;
}

.itemTarjeta button:hover {
    background: transparent;
    color: black
}

.itemTarjeta a {
    font-size: 12px;
    text-decoration-line: none;
    color: black;
}

.itemTarjeta a:hover {
    text-decoration-line: underline;
}

.atCliente {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;
    margin: 50px 0px; */
}

.atCliente {
    width: 100%;
    height: 350px;
    background: linear-gradient(gray, rgb(0, 0, 0));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    perspective: 1000px;
}

.contenedor {
    position: relative;
    width: 100%;
    height: 35%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.informacion:hover .contenedor {
    transform: rotateY(180deg);
}

.imagenInfo,
.tituloInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.tituloInfo {
    width: 100%;
    height: 110px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    transform: rotateY(180deg);
    text-align: center;
}

.informacion img {
    width: 410px;
    height: 295px;
}

.informacion .textoInfo {
    width: 100%;
    font-size: 14px;
    text-align: justify;
    color: white;
}

@media screen and (max-width: 690px){
    .navbar-brand img {
        width: 80px;
    }

    button>i {
        font-size: 25px;
    }

    .carousel {
        position: relative;
        height: 25vh;
        background-size: cover;
    }

    .itemTarjeta img {
        width: 160px;
    }

    .atCliente {
        width: 100vw;
        height: 100%;
        flex-direction: column;
    }

    .informacion {
        width: 100%;
        height: 240px;
        margin: 30px 0px 60px 0px;
    }

    .informacion .textoInfo {
        font-size: 14px;
    }

    .informacion img{
        width: 390px;
        height: 230px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    .informacion .textoInfo {
        width: 65%;
    }
    
    .informacion img {
        width: 300px;
        height: 270px;
    }
}